/* Your CSS codes here */
p,
ul li,
ul li a,
a {
    font-size: 15px !important;
}

#applicationeditform-country {
    color: black !important;
    opacity: 1 !important;
}

.smart-forms .gui-textarea {
    height: 90px;
}

.hidden_text {
    display: none;
}

div.values {
}

div.values hr {
    width: 60%;
    margin: 50px auto;
}

div.values div.left {
    text-align: right;
    font-size: 4rem;
    opacity: 0.3;
    font-weight: 300;
    line-height: 1;
}

div.values div.right {
    font-size: 15px;
    line-height: 30px;
    color: #888888;
}

@media (min-width: 768px) {
    div.modal-wide .modal-dialog {
        width: 750px;
    }
}

.table-members > table > thead > tr > th,
.table-members > table > tbody > tr > th,
.table-members > table > tbody > tr > td {
    vertical-align: middle;
    font-size: 18px;
}

.table-members > table > thead > tr > th:first-child,
.table-members > table > tbody > tr > th:first-child,
.table-members > table > tbody > tr > td:first-child {
    width: 20%;
    min-width: 95px;
}

.table-members > table > thead > tr > th:nth-child(2),
.table-members > table > tbody > tr > th:nth-child(2),
.table-members > table > tbody > tr > td:nth-child(2) {
    width: 30%;
}

@media (max-width: 768px) {
    .table-members > table > thead > tr > th,
    .table-members > table > tbody > tr > th,
    .table-members > table > tbody > tr > td {
        font-size: 13px;
    }
}
